# .NET Core build results
bin/
obj/

# User-specific files
.vs/
.vsconfig
.vscode/

# User-specific Visual Studio files
*.user
*.userosscache
*.suo
*.userprefs

# ASP.NET Core specific files
project.lock.json
project.fragment.lock.json

# .NET Core tool folders
!.dotnet/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/
