
# .NET Core build results
bin/
obj/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Environment Variables ###
.env

### Terraform ###
.terraform*
/.terraform
*tfvars
*tfstate
**/.terraform/*
*.tfstate
*.tfstate.*

### Bicep ###
params.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
appsettings.json

# User-specific files
.vs/
.vsconfig
.vscode/

# User-specific Visual Studio files
*.user
*.userosscache
*.suo
*.userprefs

# ASP.NET Core specific files
project.lock.json
project.fragment.lock.json

# .NET Core tool folders
!.dotnet/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/
